<% provide(:title, 'About') %>

    <h1> About </h1>
    <p> 
      Matidea is consulting company, which helps other companies show their power in the Internet. <br>
      ---><a href='http://matidea.pl'> MATIDEA.PL</a> < - -
    </p>

