<% provide(:title, 'Contact') %>

    <h1> Contact </h1>
    <p> 
      Contact us: <br>
      <i> Phone: +48 XXX YYY ZZZ</i> <br>
      Visit our main website   ---><a href='http://matidea.pl'> MATIDEA.PL</a> < - -
    </p>

