<% provide(:title, 'Contact') %>

    <h1>Do not hesitate to contact us! </h1>
    <p> 
     Website <a href='http://matidea.pl'> Matidea.pl</a> <br>
     Phone Number: <b>+48 XXX YYY ZZZ</b>
      
    </p>


