<% provide(:title, 'Home') %>

    <h1> Matidea- what's this? </h1>
    <p> 
      This is sample application created by <a href='http://matidea.pl'> Matidea.pl</a> <br>
      Visit site and check our other applications!
    </p>





